
@{
    ViewData["Title"] = "registerPage";
}

<h1>Register Page</h1>
<a href="/ManagementAccount/registerStudentLayout/" class="btn btn-primary">Create Student Account</a>

<a href="/ManagementAccount/registerTeacherLayout/" class="btn btn-primary">Create teacher Account</a>

<a href="/ManagementAccount/RegistermanagerLayout/" class="btn btn-primary">Create manager Account</a>