@model week11.ModelView.xxlogin

@{
    ViewData["Title"] = "xxRegeslayout";
}

<h1>xxRegeslayout</h1>

<h4>xxlogin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="xxRegeslayout">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pasword" class="control-label"></label>
                <input asp-for="pasword" class="form-control" />
                <span asp-validation-for="pasword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

